[submodule "secp256k1-kmp/native/secp256k1"]
	path = secp256k1-kmp/native/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
	branch = master

[submodule "rust-ed25519-bip32"]
	path = rust-ed25519-bip32
	url = https://github.com/input-output-hk/rust-ed25519-bip32.git
	branch = master
